@import "../../styles//colors";

.loader {
  margin: auto;
  border: 8px solid $color-gray;
  border-radius: 50%;
  border-top: 8px solid $color-orange;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
