@import "../../styles/colors";

h2 {
  text-align: center;
}

.navigationContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  > button {
    background-color: $color-black;
    border: 1px solid;
    border-radius: 4px;
    color: $color-white;
    cursor: pointer;
    font-size: 1.1em;
    outline: none;
    padding: 10px;
    text-decoration: none;

    &:disabled {
      visibility: hidden;
    }
  }
}

.list {
  max-height: 100vh;
  overflow: scroll;
}
